@model ErrorViewModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@{
    var session = HttpContextAccessor.HttpContext.Session.GetString("isAdmin");
}
@{
    ViewData["Title"] = "Error";
}
<script src="~/js/site.js"></script>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Usuario ou senha Incorretos.</h2>

<script>
    let hasSession = '@session';

    showLogout(hasSession);
</script>
