@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using Microsoft.AspNetCore.Http;
@{
    var session = HttpContextAccessor.HttpContext.Session.GetString("isAdmin");
}

<link href="~/css/styles.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/jquery.blockUI.js"></script>

<body id="page-top">
    <section class="page-section bg-primary text-white mb-0" id="service">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Funcionamento</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique tellus ipsum, eu mollis erat bibendum quis. Curabitur sodales felis ornare efficitur tincidunt. Etiam et nulla placerat, aliquet odio at, eleifend purus.</p></div>
                <div class="col-lg-4 mr-auto"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique tellus ipsum, eu mollis erat bibendum quis. Curabitur sodales felis ornare efficitur tincidunt. Etiam et nulla placerat, aliquet odio at, eleifend purus.</p></div>
            </div>
        </div>
    </section>

    <section class="page-section mb-0" id="targetPublic">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase">Público Alvo</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique tellus ipsum, eu mollis erat bibendum quis. Curabitur sodales felis ornare efficitur tincidunt. Etiam et nulla placerat, aliquet odio at, eleifend purus.</p></div>
                <div class="col-lg-4 mr-auto"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique tellus ipsum, eu mollis erat bibendum quis. Curabitur sodales felis ornare efficitur tincidunt. Etiam et nulla placerat, aliquet odio at, eleifend purus.</p></div>
            </div>
            <!-- About Section Button-->
        </div>
    </section>

    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">Preço</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique tellus ipsum, eu mollis erat bibendum quis. Curabitur sodales felis ornare efficitur tincidunt. Etiam et nulla placerat, aliquet odio at, eleifend purus.</p></div>
                <div class="col-lg-4 mr-auto"><p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique tellus ipsum, eu mollis erat bibendum quis. Curabitur sodales felis ornare efficitur tincidunt. Etiam et nulla placerat, aliquet odio at, eleifend purus.</p></div>
            </div>
        </div>
    </section>

    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Mais Informações</h2>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Form-->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <form id="contactForm" name="sentMessage" novalidate="novalidate">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Name</label>
                                <input class="form-control" id="nome" type="text" placeholder="Nome" name="NOME" required="required" data-validation-required-message="Please enter your name." />
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email Address</label>
                                <input class="form-control" id="email" type="email" placeholder="Email" name="EMAIL" required="required" data-validation-required-message="Please enter your email address." />
                                <p class="help-block text-danger"></p>
                                <div class="form-group">
                                    <button class="btn btn-primary btn-xl" id="btn-Informacoes" asp-action="InsertUser" asp-controller="Home" type="button">Enviar</button>
                                </div>
                            </div>
                        </div>
                        <br />
                        <span id="success"></span>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </section>
</body>

<script type="text/javascript">
    let hasSession = '@session';

    showLogout(hasSession);

    HideMenus(true);

    $('#btn-Informacoes').click(function () {
        let user = {
            NOME: $('#nome').val(),
            EMAIL: $('#email').val()
        };

        if (isValidemail($('#email').val()) && $('#nome').val() !== "") {

            $.blockUI({
                message: 'Aguarde',
                css: {
                    border: 'none',
                    padding: '15px',
                    backgroundColor: '#000',
                    '-webkit-border-radius': '10px',
                    '-moz-border-radius': '10px',
                    opacity: .5,
                    color: '#fff'
                }
            });

            $.post('@Url.Action("InsertUser")', user, function (d) {
                //$.blockUI({ message: '<img src="@Url.Content("~/content/giphy_ajax.gif")"/> ' });

                if (d == "ok") {

                    $('#nome').val('')
                    $('#email').val('')
                    $('#success').css('color', 'black');
                    $("#success").html("Cadastrado com sucesso!");
                }
            });

        } else {
            $('#success').css('color', 'red');
            $("#success").html("Preencha os campos ou informe um email válido");
        }

        setTimeout($.unblockUI, 2000)

    });

    function isValidemail(email) {
        var regex = /^(([^<>()[\]\\.,;:\s@@"]+(\.[^<>()[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return regex.test(email);
    }

</script>
